UserManagement.Silverlight/Service References/ServiceReference1/UserManagementExposedService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18244/UserManagementExposedService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserManagementService.DataTransferObjects" />
  <xs:element name="GetUserdetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserdetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserManagementService.DataTransferObjects" minOccurs="0" name="GetUserdetailsResult" nillable="true" type="q1:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>